<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="dataConfiguration"
				 type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data" />
	</configSections>

	<dataConfiguration defaultDatabase="xpfScript" />
	
	<connectionStrings>
    <clear/>
		<add name="xpfScript" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=xpfScript;Trusted_Connection=yes;" />
	</connectionStrings>

</configuration>